
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    overflow-x: hidden !important;
    min-height: 100vh;
  }
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: $white;
    background: linear-gradient(#667EEA, #764BA2) no-repeat;
    font-family: 'Open Sans', sans-serif;
  }
  p{
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 8px; 
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:last-child {
    margin-bottom: 0;
  }
  
  input, textarea {
    outline: none; 
  }
  
  button {
    outline: none; 
  }
  
  
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  
  table {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    tr {
      padding: 0;
      margin: 0;
    }
    th {
      font-style: normal;
      padding: 0;
      margin: 0;
    }
    td {
      padding: 0;
      margin: 0;
    }
  }
  
  address {
    font-style: normal;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }
 
  img {
    max-width: 100%;
    display: block;
  }

  %clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
  .clearfix {
    @extend %clearfix;
  }
  
  .dd-row-fluid {
    *zoom: 1;
    &:before {
      content: "";
      display: table;
    }
    &:after {
      content: "";
      display: table;
      clear: both; 
    }
    [class*="span-"] {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      &:first-child {
        margin-left: 0 !important;  
      }
    }
    .no-gutter {
      margin-left: 0 !important;
    }
    .pull-right{
      float: right;
    }
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: 100%; 
        }
    }
  
    @include mq('tablet') {
      $default-gutter-px: 16;
      $default-screen-px: 768;
      $default-column-px: 49;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          [class*="span-"].offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  
    @include mq('desktop') {
      $default-gutter-px: 24;
      $default-screen-px: 1236;
      $default-column-px: 81;
      $default-column-perc: $default-column-px / $default-screen-px;
      $default-gutter-perc: $default-gutter-px / $default-screen-px;
      $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
      @for $i from 1 through 12 {
          .span-#{$i} { 
            width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
          }
          .offset-#{$i} { 
            margin-left: percentage($default-column-gutter-perc * $i) !important;
          }
          [class*="span-"].pull-right.offset-#{$i} { 
            margin-right: percentage($default-column-gutter-perc * $i) !important;
            margin-left: 0 !important;
          }
      }
      [class*="span-"],
      [class*="span-"].has-gutter {
        margin-left: percentage($default-gutter-perc);
      }
    }
  }
  
  .mobile-hide {
    display: none !important;
  }
  @include mq('tablet') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: none !important;
    }
  }
  @include mq('desktop') {
    .mobile-hide {
      display: inherit !important;
    }
    .tablet-hide {
      display: inherit !important;
    }
    .desktop-hide {
      display: none !important;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 8px 0;
    padding: 0;
    line-height: 1.2em;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
  h4, h5, h6 {
    font-size: 20px;
    line-height: 24px;
  }
  blockquote {
    font-size: 20px;
    line-height: 24px;
  }
  @include mq('tablet') {
    body {
      font-size: 14px;
      line-height: 20px;
    }
    h1 {
      font-size: 40px;
      line-height: 44px;
    }
    h2 {
      font-size: 32px;
      line-height: 36px;
    }
    h3 {
      font-size: 24px;
      line-height: 28px;
    }
  
    .dd-btn {
      display: inline-block;
      min-width: 300px;
    }
  
    button {
      width: auto;
    }
  }
  
  @include mq('desktop') {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h1 {
      font-size: 48px;
      line-height: 50px;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
    h3 {
      font-size: 28px;
      line-height: 32px;
    }
  
    .dd-btn {
      min-width: 422px;
    }
  
  
    blockquote {
      font-size: 24px;
      line-height: 28px;
    }
  }

  button[type = submit]{
    cursor: pointer;
  }

.file-upload {
    position: relative;
    display: block;
    text-align: center; 
    max-width: 500px;
    margin: 0 auto;
    .file-upload__label {
        display: block;
        padding: 30px 0;
        color: $white;
        background: transparent;
        @include rounded(10px);
        border: 1px dashed $white;
        font-size: 16px;
        transition: background .3s;
        &:hover {
           cursor: pointer;
           background: rgba(0,0,0,.02);
        }
      } 
      .file-upload__input {
          position: absolute;
          cursor: pointer;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          font-size: 1;
          height: 100%;
          opacity: 0;
          width: 100%;
      }
      
}

