@import '_var.scss';
@import '_mixins.scss';
@import '_common.scss';

.sf-s-search{
  .sf-b-container{
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    h4{
      font-size: 30px;
      line-height: 38px;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 8px;
    }
  }
}
.sf-b-result{
  padding: 13px 0;
  .sf-b-result-inner{
    p{
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
      span{
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  &.hide{
    display: none;
  }
  &.show{
    display: block;
  }
}
.sf-s-loadding{
  z-index: 2;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.2);
  .sf-loadding-inner{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      @include center-absolute('both');
      width: 30px;
    }
  }
  &.show{
    display: block;
  }
  &.hide{
    display: none;
  }
  
}
@include mq('tablet'){
  .sf-s-search{
    .sf-b-container{
      padding: 60px 30px;
      
    }
  }
}